

<div class="jumbotron footer">
    <!-- FOOTER -->
    <div class="container">
        <div class="row">
            <footer>
                <div class="col-md-8 pull-left">
                    <ul>
                        <li>
                            <a href="127.0.0.1" title="Home">Home</a>
                        </li>
                        <li>
                            <a href="http://www.ieee.org/about/contact_center/index.html" title="Contact &amp; Support">Contact &amp; Support</a>
                        </li>
                        <li>
                            <a href="http://www.ieee.org/accessibility_statement.html" title="Accessibility">Accessibility</a>
                        </li>
                        <li>
                            <a href="http://www.ieee.org/security_privacy.html" title="Privacy &amp; Opting Out of Cookies">Privacy &amp; Opting Out of Cookies</a>
                        </li>
                        <li>
                            <a href="http://www.ieee.org/about/corporate/governance/p9-26.html" title="Nondiscrimination Policy">Nondiscrimination Policy</a>
                        </li>
                    </ul>
                    <span>
                        <p> {{site.title}}</p>
                        <p>{{site.description}}</p>
                        <p> &copy; Copyright 2019 IEEE - All rights reserved. Use of this Web site signifies your agreement to
                            the
                            <a href="http://www.ieee.org/site_terms_conditions.html">IEEE Terms and Conditions</a>. A not-for-profit organization, IEEE is the world's largest professional
                            association for the advancement of technology.</p>
                        </span>
                </div>
                <div class="col-md-4 pull-right">
                        <a href="http://www.ieee.org" title="IEEE logo">
                            <img src="{{ siteurl }}{{site.baseurl}}/assets/images/ieee_mb_black.png" id="ieee_mb" class="img-responsive" alt="IEEE">
                        </a>
                </div>


            </footer>
        </div>
    </div>