

  <div class="global-nav" >
    <div class="container">
      <div class="col-md-9">
        <div class="pull-left">
          <ul>
            <li>
              <a href="http://www.ieee.org/" class="first">IEEE.org</a>
            </li>
            <li>
              <a href="http://ieeexplore.ieee.org/">IEEE
                <em>Xplore</em> Digital Library</a>
            </li>
            <li>
              <a href="http://standards.ieee.org/">IEEE Standards</a>
            </li>
            <li>
              <a href="http://spectrum.ieee.org/">IEEE Spectrum</a>
            </li>
            <li>
              <a href="http://www.ieee.org/sitemap" class="last">More Sites</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron banner">
    <div class="container" >
      <div class="pull-right hidden-xs">
        <a href="http://www.ieee.org" title="IEEE logo">
          <img src="{{ siteurl }}{{site.baseurl}}/assets/images/ieee_mb_black.png" id="ieee_mb" class="img-responsive" alt="IEEE logo">
        </a>
      </div>
      <h1 class="site-title">
        <a href="{{siteurl}}" rel="home">{{site.title}}</a>
      </h1>

      <div>
        <!-- social media icons go here -->
        {% include socialmedia.html %}
      </div>
    </div>
  </div>

  <script>
  w3.addStyle('.container','padding','0')
  </script>